<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="PanAndZoom" version="2.3.4" targetFramework="net48" />
  <package id="Wpf.Controls.PanAndZoom" version="2.3.4" targetFramework="net48" />
  <package id="Wpf.MatrixExtensions" version="2.3.4" targetFramework="net48" />
</packages>